[raspi]
xx.xx.xx.xx

[raspi:vars]
ansible_ssh_port=22
ansible_ssh_user=pi
ansible_ssh_pass=raspberry

new_ssh_port=2222
new_ssh_pubkey=/path/to/key.pub

locale=en_US.UTF-8
timezone=Asia/Tokyo

wifi_country=JP
wifi_ssid=xxxxxxxx
wifi_psk=xxxxxxxxx
wifi_isStatic=True
wifi_static_ip=xx.xx.xx.xx/xx
wifi_router_ip=xx.xx.xx.xx
wifi_dns_ip=xx.xx.xx.xx

python_version=3.9.6
